*.o
*.a
*.so
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*
*backup

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp




*.avi
*.PNG
.cache/
*.weights
detector/darknet/weights
__pycache__
.idea
*.zip
models/
logs/
valid_pre/
valid_pre_yolo/
